---
import BookingButton from "@/components/global/booking-button";
import RatingAvatar from "@/components/global/rating-avatar.astro";
import Background from "@/components/layouts/Background.astro";
import type { MainPage } from "@/lib/api/mainPage";
import { CalendarDays } from "lucide-react";
import { observeReservationButton } from "@/lib/observer";

const { hero } = Astro.props;
const mainPage = hero as MainPage;
---

<div
  class="relative isolate overflow-hidden bg-gradient-to-br from-gray-200 to-gray-100 h-screen max-h-[900px]"
  itemscope
  itemtype="http://schema.org/Organization"
>
  <meta itemprop="name" content="Amandine Nails" />
  <meta itemprop="url" content="https://amandine-nails.fr" />
  <!-- <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg> -->
  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40 relative z-[10] "
  >

    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      

      
      <div class="mt-24 sm:mt-32 lg:mt-8">
        <span class="inline-flex items-center space-x-6">
          <a href="/galerie" class="inline-flex space-x-6">
            <span
              class="rounded-full bg-primary/30
            px-3 py-1 text-sm xl:text-md font-[500] leading-6
            text-background-foreground/60 ring-1 ring-inset ring-indigo-600/10"
              >Galerie</span
            >
          </a>
          <a href="https://www.boutique.amandine-nails.fr/" target="_blank">
            <span
              class="inline-flex items-center space-x-2 text-sm xl:text-md font-medium leading-6 text-accent-foreground"
            >
              <span>Boutique</span>
              <svg
                class="h-5 w-5 text-accent-foreground"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </a>
        </span>
      </div>
      <h1
        class="mt-10 text-7xl font-medium tracking-tight text-primary sm:text-7xl xl:text-8xl font-sniglet"
        itemscope
        itemprop="name"
      >
        {import.meta.env.PUBLIC_SITE_NAME}
      </h1>
      <p class="max-w-sm mt-2 text-md xl:text-xl leading-5 text-muted-foreground font-montserrat">
        Prothésie ongulaire et Nail Art à domicile en Sarthe.
      </p>
      <div class="mt-12 flex items-center gap-x-6">
        <!-- <a
          id="reservation_button"
          href="#services"
          class="font-montserrat rounded-sm bg-primary/80 px-12 xl:px-14 h-12 xl:h-14 transition-colors ease
          text-white text-sm xl:text-md font-semibold shadow-sm flex items-center gap-3
          hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
        >
          <CalendarDays className="w-5 xl:w-7 h-5 xl:h-7" />
           Je réserve une prestation
        </a> -->

      <BookingButton client:only />
        <!-- <a href="#" class="text-sm font-semibold leading-6 text-primary">Learn more <span aria-hidden="true">→</span></a> -->
      </div>

      <RatingAvatar/>
    </div>
  </div>
  <div class="absolute right-0 top-0 bottom-0 h-full z-0">
    <!-- <img
      src={mainPage.imageDeFond.sourceUrl}
      alt="App screenshot"
      width="1900"
      height="1400"
      class="w-[90rem] rounded-md h-full
          object-cover object-right md:object-center lg:object-right
          opacity-30 md:opacity-100"
    /> -->
     <img
      src="https://www.amandine-server.kmllr.fr/wp-content/uploads/2024/08/iStock-524890398-modified-e9e6ea5f-54a7-4720-9e5b-c0cce18246be-scaled.webp"
      alt="App screenshot"
      width="1140"
      height="850"
      class="w-[60rem] rounded-md h-full scale-x-[-1]
          object-cover object-right md:object-center lg:object-right
          opacity-30 md:opacity-100"
    />
  </div>
  <div class="w-full md:w-fit px-6 md:px-0 absolute z-2 inline-block bottom-4 left-1/2 -translate-x-1/2">
    <div class="border-2 border-primary flex items-center justify-center gap-2 px-6 py-3 rounded-lg bg-background">
      <p class="text-base leading-7 text-secondary-foreground font-medium">Certifiée par : <span class="sr-only" itemprop="credentialAwarded">Academee</span></p>
      <img src="/academee.svg" alt="Logo d'academee" class="w-[150px] md:w-[150px] h-auto" itemprop="educationalCredentialAwarded">
    </div>
</div>
</div>
