---
import Background from "@/components/layouts/Background.astro";
import type { MainPage } from "@/lib/api/mainPage";
import { CalendarDays } from "lucide-react";

const { hero } = Astro.props;
const mainPage = hero as MainPage;
---

<div class="relative isolate overflow-hidden bg-backgroundCustom min-h-[80vh]">
  <!-- <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
      <defs>
        <pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
          <path d="M.5 200V.5H200" fill="none" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)" />
    </svg> -->
  <div
    class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8 lg:py-40 relative z-[10]"
  >
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl lg:flex-shrink-0 lg:pt-8">
      <div class="mt-24 sm:mt-32 lg:mt-16">
        <a href="/galerie" class="inline-flex space-x-6">
          <span
            class="rounded-full bg-primary/30
            px-3 py-1 text-sm font-[500] leading-6
            text-background-foreground/60 ring-1 ring-inset ring-indigo-600/10"
            >Galerie</span
          >
          <span
            class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-accent-foreground"
          >
            <span>Boutique</span>
            <svg
              class="h-5 w-5 text-accent-foreground"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                clip-rule="evenodd"></path>
            </svg>
          </span>
        </a>
      </div>
      <h1
        class="mt-10 text-4xl font-bold tracking-tight text-primary sm:text-6xl"
      >
        {import.meta.env.PUBLIC_SITE_NAME}
      </h1>
      <p class="mt-6 text-lg leading-8 text-muted-foreground">
        Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem
        cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a
          href="#services"
          class="rounded-sm bg-primary/80 px-[26px] py-2.5 transition-colors ease
          text-white text-sm font-semibold shadow-sm flex items-center gap-3
          hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
        >
          <CalendarDays className="w-5 h-5"/>
          Réserver
        </a>
        <!-- <a href="#" class="text-sm font-semibold leading-6 text-primary">Learn more <span aria-hidden="true">→</span></a> -->
      </div>
    </div>
    <!-- <div class="mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:ml-10 lg:mr-0 lg:mt-0 lg:max-w-none lg:flex-none">
        <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
            <img src={mainPage.imageDeFond.sourceUrl} alt="App screenshot" width="1900" height="1400" 
            class="w-[60rem] rounded-md 
            object-right-top
            ">
        </div>
      </div> -->
  </div>
  <div class="absolute right-0 top-0 bottom-0 h-full z-0">
    <img
      src={mainPage.imageDeFond.sourceUrl}
      alt="App screenshot"
      width="1900"
      height="1400"
      class="w-[90rem] rounded-md h-full
          object-cover object-right md:object-center lg:object-right
          opacity-30 md:opacity-100"
    />
  </div>
</div>
