---
import NavToggle from "@/components/toggles/NavToggle";
import NavLinks from "./navLinks.astro";
import { ModeToggle } from "@/components/toggles/ModeToggle";

---
<div class="bg-primary/35 text-white backdrop-blur-md fixed inset-x-0 z-50">
<div class="">
    <nav class="flex flex-wrap items-center justify-between px-4 py-3 max-w-6xl mx-auto">
        <a href="/" class="cursor-pointer p-4 ml-2 text-lg">Amandine Nails</a>
        <div class="flex items-center">
          <ul class="hidden md:flex items-center justify-end flex-grow mr-1.5">
          <NavLinks 
          aClasses="mx-3"
          />
          </ul>
         
          <div class="block md:hidden">
            <NavToggle  
            client:only="react"
            >
            <div slot="link">
              <ul>
                <NavLinks slot="link" 
                aClasses="text-2xl font-semibold"
                liClasses="my-4"
                />
              </ul>
            </div>
        </NavToggle>
          </div>
          
        </div>
      </nav>
</div>
</div>

