---
import Galerie from '@/components/galerie.astro';
import AppLayout from '@/components/layouts/AppLayout.astro';
import { getAllPagesWithSlugs, getPageBySlug } from '@/lib/api/api';

export async function getStaticPaths() {
  const pagesWithSlugs = await getAllPagesWithSlugs();
  return pagesWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

const { slug } = Astro.params;
const page = await getPageBySlug(slug);
const isGalleryPage = slug === 'galerie'; // Ajoutez cette condition
const isPrestationPage = slug === 'mes-prestations'
---

<AppLayout>
    <div class="mb-[35px] mt-8 text-4xl font-semibold leading-3 ml-4">{page.title}</div>
    {isGalleryPage ? (
      <div>
        {/* Contenu spécifique pour la page de la galerie */}
        {/* ... */}
        <Galerie />
      </div>
    ) : isPrestationPage ? (
      <article class="prose lg:prose-xl">
        presta
      </article>
    ) : (
    <article class="prose lg:prose-xl">
        {page.content}
      </article>
    )}
</AppLayout>