---
import Galerie from "@/components/galerie.astro";
import AppLayout from "@/components/layouts/AppLayout.astro";
import About from "@/components/sections/about.astro";
import { getAllPagesWithSlugs, getPageBySlug } from "@/lib/api/api";
import Prestations from "@/components/prestations.astro";
export async function getStaticPaths() {
  const pagesWithSlugs = await getAllPagesWithSlugs();
  return pagesWithSlugs.edges.map(({ node }) => {
    return {
      params: { slug: node.slug },
    };
  });
}

import { getMainPage } from "@/lib/api/mainPage";
import type { PageData } from "@/lib/api/mainPage";
import Contact from "@/components/contact.astro";

const dataPage = (await getMainPage()) as PageData;
const about = dataPage.page.aboutSection;

const { slug } = Astro.params;
const page = await getPageBySlug(slug);
const isGalleryPage = slug === "galerie"; // Ajoutez cette condition
const isPrestationPage = slug === "mes-prestations";
const isContactPage = slug === "contact";
const isAboutPage = slug === "a-propos";
---

<AppLayout>
  <div class="max-w-7xl mx-auto px-4">
    {
      isGalleryPage ? (
        <div>
          <div class="mb-[35px] mt-8 text-4xl font-semibold leading-3 ml-4">
            {page.title}
          </div>
          <Galerie />
        </div>
      ) : isPrestationPage ? (
        <article class="w-full">
          <Prestations />
        </article>
      ) : isAboutPage ? (
        <About about={about} />
      ) : isContactPage ? (
        <Contact />
      ): (
        <>
          <div class="mb-[35px] mt-8 text-xl md:text-3xl font-semibold md:leading-3  text-center">
            {page.title}
          </div>
          <article class="prose lg:prose-xl w-full mx-auto pt-8 !text-accent-foreground" set:html={page.content}>
         
          </article>
        </>
      )
    }
  </div>
</AppLayout>
