---

---

<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none"
        >
            <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
                <div>
                    <h2 class="text-3xl font-bold tracking-tight text-primary">
                        Me contacter
                    </h2>
                    <p class="mt-4 leading-7 text-muted-foreground">
                        En cas de question sur mes services, sur les
                        déplacements à domicile, dans le cadre d'une
                        collaboration ou autre.
                    </p>
                </div>
                <div
                    class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8"
                >
                    <div
                        class="rounded-2xl bg-secondary dark:bg-black border-destructive border p-10"
                    >
                        <h3
                            class="text-base font-semibold leading-7 text-primary"
                        >
                            Email
                        </h3>
                        <dl class="mt-3 space-y-1 text-sm leading-6">
                            <div>
                                <dt class="sr-only">Email</dt>
                                <dd>
                                    <a href="mailto:collaborate@example.com"
                                        >contact@reservation-back.amandine-nails.fr</a
                                    >
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <div
                        class="rounded-2xl bg-secondary dark:bg-black border-destructive border p-10"
                    >
                        <h3
                            class="text-base font-semibold leading-7 text-primary"
                        >
                            Téléphone
                        </h3>
                        <dl class="mt-3 space-y-1 text-sm leading-6">
                            <div class="mt-1">
                                <dt class="sr-only">Numéro de téléphone</dt>
                                <dd>06 70 54 07 36</dd>
                            </div>
                        </dl>
                    </div>
                    <div
                        class="rounded-2xl bg-secondary dark:bg-black border-destructive border p-10 col-span-2"
                    >
                        <h3
                            class="text-base font-semibold leading-7 text-primary"
                        >
                            Réseaux sociaux
                        </h3>
                        <dl class="mt-3 space-y-1 text-sm leading-6">
                            <div>
                                <dt class="sr-only">Réseaux sociaux</dt>
                            </div>
                            <div class="flex items-center gap-4">
                                <div class="mt-1">
                                    <dt class="sr-only">Instagram</dt>
                                    <dd>
                                        <a
                                            href="https://www.instagram.com/amandinegorsse/"
                                            target="_blank"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="hover:stroke-primary hover:scale-[130%] transition-all duration-150 ease cursor-pointer"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="lucide lucide-instagram"
                                                ><rect
                                                    width="20"
                                                    height="20"
                                                    x="2"
                                                    y="2"
                                                    rx="5"
                                                    ry="5"></rect><path
                                                    d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"
                                                ></path><line
                                                    x1="17.5"
                                                    x2="17.51"
                                                    y1="6.5"
                                                    y2="6.5"></line></svg
                                            >
                                        </a>
                                    </dd>
                                </div>
                                <div class="mt-1">
                                    <dt class="sr-only">Messenger</dt>
                                    <dd>
                                        <a
                                            href="https://m.me/amandine.gorsse"
                                            target="_blank"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="hover:stroke-primary hover:scale-[130%] transition-all duration-150 ease cursor-pointer"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="lucide lucide-facebook"
                                                ><path
                                                    d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                                                ></path></svg
                                            >
                                        </a>
                                    </dd>
                                </div>
                                <div class="mt-1">
                                    <dt class="sr-only">LinkedIn</dt>
                                    <dd>
                                        <a
                                            href="https://www.linkedin.com/in/amandine-gorsse-86947625b/"
                                            target="_blank"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="hover:stroke-primary hover:scale-[130%] transition-all duration-150 ease cursor-pointer"
                                                width="24"
                                                height="24"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="lucide lucide-linkedin"
                                                ><path
                                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
                                                ></path><rect
                                                    width="4"
                                                    height="12"
                                                    x="2"
                                                    y="9"></rect><circle
                                                    cx="4"
                                                    cy="4"
                                                    r="2"></circle></svg
                                            >
                                        </a>
                                    </dd>
                                </div>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
